.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 31.375rem;
    padding: 14px 20px;
    border-radius: 8px 0 0 8px;
    height: 48px;
    border: 1px solid var(--color-black);
}

.search-button {
    padding: 14px 23px;
    border-left: 0;
    border: 1px solid var(--color-black);
    border-left: 0;
    border-radius: 0 8px 8px 0;
    height: 48px;
    background-color: var(--color-white);
    cursor: pointer;
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    color: var(--color-black);
}

.list-item {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
}

.img-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.img-container > img {
    border: 5px solid var(--color-gray);
    border-radius: 10px;
    object-fit: cover;
}

.list-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.list-box {
    margin-top: 13px;
}

@media only screen and (max-width: 900px) {
    .search-input {
        width: 18rem;
        padding: 14px;
    }

    .img-container > img {
        height: 50px;
        width: 45px;
    }

    .list-box {
        margin-top: 70px;
    }
}
