.card-container {
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background: var(--color-black);
    color: var(--color-white);
}

.pill-container {
    padding: 5px 3px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background: var(--color-white);
    border-radius: 0 0 10px 10px;
}

.card-container > img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
