.container {
    background: var(--color-black);
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    padding: 0 10px;
    width: 799px;
    height: 212px;
    object-fit: contain;
}
